$outer: #464866;
$inner: white;
$sidebar: #190061;
$chat: #0c0032;

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: $outer;

    .home {
        display: flex;
        border-radius: 20px;
        color: black;
        background-color: $inner;
        width: 60%;
        height: 70%;
        border-radius: 20px;
        overflow: none;

        .sidebar {
            background-color: $sidebar;
            width: 25%;
            color: white;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;

            label {
                font-weight: bold;
                text-align: center;
            }

            input {
                background-color: transparent;
                color: $inner;
                border: none;
                border-bottom: 1px solid $outer;
                padding: 10px;
                width: 100%;
            }

            .userchat {
                flex: 0.5;
                width: 100%;
                display: flex;
                justify-content: start;
                max-height: 50px;
                padding: 10px;
                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .content {
                    font-size: 20px;
                    padding-left: 10px;

                    span {
                        font-weight: bold;
                    }

                    p {
                        color: lightgray;
                    }
                }

                &:hover {
                    background-color: $chat;
                }
            }
            .profile {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: auto;
                height: 50px;
                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                span {
                    font-weight: bold;
                }
                button {
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
        .chat {
            background-color: $chat;
            color: $inner;
            flex: 2;
        }
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: $outer;

    .myForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        color: black;

        background-color: $inner;
        padding: 20px 80px;
        gap: 20px;
        border: none;

        .logo {
            font-weight: bold;
            font-size: 40px;
        }

        input {
            padding: 10px;
            border: none;
            border-bottom: 1px solid $outer;
            width: 80%;
            background-color: $inner;
        }

        .formButton {
            background-color: $outer;
            color: $inner;
            padding: 15px 30px;
            margin: 20px;
            border: none;
            cursor: pointer;
        }

        span {
            font-size: 20px;
        }
    }
}

body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
input {
    outline: none;
}
p {
    margin: 0px;
}
