$outer: #a7bcff;
$inner: white;
$sidebar: rgb(13, 13, 51);
$chat: white;
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: $outer;

    .home {
        display: flex;
        border-radius: 20px;
        color: black;
        background-color: $inner;
        width: 60%;
        height: 70%;
        border-radius: 15px;

        .sidebar {
            background-color: $sidebar;
            flex: 1;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            input {
                flex: 1;
                background-color: $sidebar;
                color: white;
                border: none;
                border-bottom: 3px solid $outer;
            }
        }
        .chat {
            background-color: $chat;
            flex: 2;
        }
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: $outer;

    .myForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        color: black;

        background-color: $inner;
        padding: 20px 80px;
        gap: 20px;
        border: none;

        .logo {
            font-weight: bold;
            font-size: 40px;
        }

        input {
            padding: 10px;
            border: none;
            border-bottom: 3px solid $outer;
            width: 80%;
            background-color: $inner;
        }

        .formButton {
            background-color: $outer;
            padding: 15px 30px;
            margin: 20px;
            border: none;
            cursor: pointer;
        }

        span {
            font-size: 20px;
        }
    }
}

body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
input {
    outline: none;
}
